<section class="relative flex flex-col h-screen overflow-hidden">
    <app-background-pattern></app-background-pattern>
    <div class="px-5 relative text-center z-10 max-w-5xl mx-auto mt-10">
        <div class="space-y-6 sm:space-y-8">
            <div class="space-y-3 sm:space-y-4 stagger-appear">
                <h2 class="text-3xl sm:text-5xl lg:text-6xl font-bold text-gray-900 leading-tight">
                    ¿ Qué es
                    <span class="bg-gradient-to-r from-emerald-600 to-cyan-600 bg-clip-text text-transparent"> Soil Data Space </span>
                    ?
                </h2>
                <p class="text-base sm:text-xl text-gray-700 text-justify">
                    Es un proyecto con un objetivo, crear un ecosistema de datos soberano que transforme la gestión del suelo
                    en Andalucía y Castilla-León, impulsando la agricultura sostenible, la adaptación al cambio climático y la gestión hídrica.
                    Asimismo, ha indicado que ‘Soil Data Space’ mantendrá una colaboración estrecha con entidades públicas y privadas entre las que cabe destacar IFAPA, Itacyl y otro tipo de entidades con las que se va a potenciar este proyecto.
                </p>
                <div class="mt-10 rounded-2xl bg-white shadow-2xl p-4 flex items-center justify-center space-x-4">
                    <img src="assets/logos/fiware.png" class="max-w-1/2 h-auto object-contain">
                    <img src="assets/logos/uja.png" class="max-w-1/2 h-auto object-contain">
                </div>
            </div>
        </div>
    </div>
</section>