<section class="relative overflow-hidden">
    <app-background-pattern></app-background-pattern>
      <div class="relative w-full max-w-7xl mx-auto px-4 py-5">
      <h2 class="text-3xl sm:text-5xl lg:text-6xl font-bold text-gray-900 leading-tight">
          <span class="bg-gradient-to-r from-emerald-600 to-cyan-600 bg-clip-text text-transparent">Catálogo de Servicios</span>
      </h2>
      <h2 class="text-3xl sm:text-4xl font-extrabold text-emerald-700 mt-5 mb-5">Casos de Uso</h2>
    </div>
  </section>
 <section class="relative w-full max-w-7xl mx-auto px-4 py-5">
  <div class="relative mt-5 mb-5">
  </div>
  <div class="relative mb-10">
    <p>aqui van los casos de uso :O</p>
  </div>
 </section>


