<section class="relative flex flex-col overflow-hidden pb-15">
    <app-background-pattern></app-background-pattern>
    <div class="px-5 relative text-center z-10 max-w-5xl mx-auto mt-10">
		<div class="space-y-6 sm:space-y-8">
			<div class="space-y-3 sm:space-y-4 stagger-appear">
				<h2 class="text-3xl sm:text-5xl lg:text-6xl font-bold text-gray-900 leading-tight">
                    Nuestro <span class="bg-gradient-to-r from-emerald-600 to-cyan-600 bg-clip-text text-transparent"> gran equipo </span>
				</h2>
				<p class="text-base sm:text-xl text-gray-700 text-justify">
					El grupo de trabajo de Espacio de Datos Federado de Suelos, encabezado por su coordinador, el profesor de la UJA Juan Manuel Jurado, está formado por alrededor de 20 investigadores, mayoritariamente jóvenes, que desde diferentes áreas desarrollarán un espacio federado de datos, modelos y servicios relacionados con el suelo para poder utilizarlos posteriormente en soluciones transformadoras.
				</p>

				<div class="h-full flex items-center mb-10">
                    <img class="mt-10 rounded-2xl bg-gradient-to-r from-emerald-500/20 to-cyan-500/20 backdrop-blur-sm shadow-2xl mx-auto block" src="assets/team.png">
      			</div>

				<!--
				<app-team-grid></app-team-grid>
				-->

			</div>
		</div>
    </div>
</section>