
<section 
	*ngFor="let teamSection of teamsSections | keyvalue" 
	class="mt-20"
>
	<h2 class="text-2xl sm:text-3xl lg:text-4xl font-bold mb-6">
		{{ teamSection.key }}
	</h2>
	<!-- Grid de cada sección -->
	<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8 bg-gradient-to-r from-emerald-100 to-cyan-100 rounded-lg p-2">

		<!-- Cada miembro -->
		<div 
			*ngFor="let member of teamSection.value | keyvalue"
			class="flex flex-col items-center text-center"
		>
			<p class="font-bold">{{member.key}}</p>
			<img 
				[src]="member.value.imagen" 
				[alt]="member.value.nombre"
				class="w-32 h-32 rounded-full object-cover mb-4" 
			/>

			<p class="font-semibold">
				{{ member.value.nombre }}
			</p>

			<a 
				[href]="member.value.linkedin" 
				target="_blank"
				class="text-blue-600 hover:underline"
			>
				LinkedIn
			</a>
		</div>
	</div>
</section>

