<section class="relative flex flex-col h-screen overflow-hidden">
    <app-background-pattern></app-background-pattern>
    <div class="px-5 relative text-center z-10 max-w-5xl mx-auto mt-10">
        <div class="space-y-6 sm:space-y-8">
            <div class="space-y-3 sm:space-y-4 stagger-appear">
                <h2 class="text-3xl sm:text-5xl lg:text-6xl font-bold text-gray-900 leading-tight">
                    Financiación
                </h2>
                <p class="text-base sm:text-xl text-gray-700 text-justify">
                    El proyecto, que empieza a dar sus primeros pasos, cuenta con un presupuesto de más de un millón de euros financiados por la Secretaría de Estado de Digitalización e Inteligencia Artificial del Ministerio para la Transformación Digital y de la Función Pública,
                    a través de la Inversión 1 del Componente 12 del Plan de Recuperación, Transformación y Resiliencia (MRR).
                </p>
                <div class="mt-10 rounded-2xl bg-white shadow-2xl w-full h-56 flex items-center justify-center">
                    <img src="assets/funding.png" style="width: 90%;">
                </div>
            </div>
        </div>
    </div>
</section>